<div class="text-layout">
  <h1>DecimalPipe y Porcentajes</h1>
  <p>
    Pipes incluidos en angular - Usualmente en el CommonModule
  </p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>ventasNetas | currency:'ARS':true:'1.2-2'</li>
        <li>ventasNetas | number: '1.2-2'</li>
        <li>porcentaje | percent:'2.2-2'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ ventasNetas | currency:'ARS':true:'1.2-2' }}</li>
        <li>{{ ventasNetas | number: '1.2-2' }}</li>
        <li>{{ porcentaje | percent:'2.2-2' }}</li>
      </ul>
    </p-card>
  </div>
</div>
