<div class="text-layout">
  <h1>DecimalPipe y Porcentajes</h1>
  <p>
    Pipes incluidos en angular - Usualmente en el CommonModule
  </p>
</div>

<a pButton class="p-button-info" target="_blank" href="https://primefaces.org/primeng/showcase/#/fieldset">Enlace</a>
<div class="grid">
  <div class="col-6 mb-6">
    <p-fieldset legend="I18nSelectPipe" [toggleable]="true">
      Saludos {{ nombre }}, Es un placer
      {{ genero | i18nSelect:invitacionMapa }}
      a nuestro evento.
      <a pButton class="p-button-info" target="_blank" href="https://angular.io/api/common/I18nSelectPipe">Enlace</a>
    </p-fieldset>
  </div>

  <div class="col-6 mb-6">
    <p-fieldset legend="I18nPluralPipe" [toggleable]="true">
      Actualmente {{ clientes.length | i18nPlural:clientesMapa }}
    </p-fieldset>
  </div>
</div>
